.about {
  padding: 30px;
}

.about h3 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
}

.aboutConatiner Image p {
  display: inline;
  justify-content: center;
  align-items: center;
}

.form {
  display: block;
  justify-content: center;
  align-items: center;
}

.submit {
  display: flex;
  margin-top: 80px;
  margin-left: 45%;
}

.prod {
  margin-top: 100%;
}

.detailedPage {
  display: flex;
  justify-content: center;
  margin: auto;
}


.container h1 {
  display: flex;
  justify-content: center;
}

.detailedPage h2 {
  margin-left: 100px;
}

.detailedPage p {
  margin-left: 100px;
}
